<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Movie Watch List</h1>
        </div>
    </div>
    {{#each movies}}
    <div class="row">
        <div class="col">
            <h3>{{id}}. {{movie}}</h3>
        </div>
    </div>
    {{/each}}
</div>