<div class="container">
    <div class="row">
        <div class="col-sm-3"
        <div class="col-sm-6">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" id="movie-title" placeholder="Enter your movie title!">
                </div>

                <button type="submit" class="btn btn-primary">Add Movie to Watch List</button>
            </form>
        </div>
    </div>
</div>

